[Unit]
Description=Pilote
After=graphical.target

[Service]
ExecStart=/usr/bin/node /home/pi/pilote2/bleno.js
WorkingDirectory=/home/pi/pilote2
StandardOutput=stdout
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
